.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
.flex-item {
    background-color: #f4aeae; 
    padding: 20px;
    margin: 10px; 
}
  
  
@media only screen and (max-width: 600px)
{
    .flex-container {
      flex-direction: column;
    }
}